publiek/attachments/118882614/118882860.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

    targetNamespace="urn:etoegang:1.13:metadata-extension"

    xmlns:eme="urn:etoegang:1.13:metadata-extension"

    elementFormDefault="qualified"

    attributeFormDefault="unqualified">

  

    <xs:attribute name="validFrom" type="xs:dateTime" />

    <xs:attribute name="version" type="xs:string" />

    <xs:attribute name="name" type="xs:string" />

 

    <xs:element name="DeprecatedRelyingPartyID" type="eme:DeprecatedRelyingPartyIDType" />

    <xs:complexType name="DeprecatedRelyingPartyIDType">

        <xs:sequence>

            <xs:element name="DeprecatedOIN" type="eme:OINType" />

            <xs:element name="DeprecatedRecipientKeySetVersion" type="eme:KeySetVersionType" />

        </xs:sequence>

    </xs:complexType>

 

    <xs:element name="UserTypeRequested" type="xs:anyURI"/>

 

    <xs:simpleType name="KeySetVersionType">

        <xs:restriction base="xs:string">

            <xs:pattern value="[0-9]{8}"/>

        </xs:restriction>

    </xs:simpleType>

 

    <xs:simpleType name="OINType">

        <xs:annotation>

            <xs:documentation>OIN type.</xs:documentation>

        </xs:annotation>

        <xs:restriction base="xs:string">

            <xs:length value="20" />

        </xs:restriction>

    </xs:simpleType>

</xs:schema>
